@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); /* Inter */

:root {
    --aside-color: #fff;
    --bg-color: #F3F5FC;
    --dark: #0A3871;
    --light: #D8DFE8;
    --alert: #495057;
    --bg-border: 40px;
}

* { resize: none; outline: none; }

input, textarea, button { font-family: 'Inter'; }

body {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr;
    margin: var(--bg-border);
    background-color: var(--bg-color);
    font-family: 'Inter';
    cursor: default;
}

main {
    display: grid;
    grid-template-rows: 1fr auto;
}

main div, main footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

main footer {
    flex-direction: column;
    padding: 40px;
}

.typedTxt {
    background: none;
    border: none;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 600px;
    max-height: 600px;
    text-align: center;
}
.typedTxt::placeholder { text-align: center; }
.typedTxt::-webkit-scrollbar, .genTxt div:nth-of-type(1)::-webkit-scrollbar { display: none; }

aside {
    height: calc(100vh - var(--bg-border) * 2);
    padding: 0 20px;
    background-color: var(--aside-color);
    border-radius: 32px;
}

.genTxt {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 20px * 2); /* Paddind of Aside */
}

.genTxt div:nth-of-type(1) {
    width: 22vw;
    height: 100%;
    word-wrap: break-word;
    overflow: scroll;
}

.genTxt div p {
    width: 100%;
    height: 100%;
    cursor: default; 
}

#copy-text {
    display: flex;
    justify-content: center;
    position: relative;
}

#copy-text button::before,
#copy-text button::after {
    display: none;
    right: 50%;
    position: absolute;
    background: var(--dark);
}

#copy-text button::before {
    content: "Copied";
    padding: 8px 10px;
    top: -47%;
    border-radius: 20px;
    font-size: 15px;
    transform: translateX(50%);
}

#copy-text button::after {
    content: "";
    top: -17%;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

#copy-text.active button::after,
#copy-text.active button::before {
    display: block;
}

.noMsg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 20px * 2);
}

button {
    margin: 10px;
    padding: 25px 100px;
    border: 1px solid var(--dark);
    border-radius: 24px;
    background-color: var(--light);
    color: var(--dark);
    font-size: 16px;
    cursor: not-allowed;
}

button:not([disabled]) {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

button:not([disabled]):active { opacity: .8; }

.text { font-size: var(--fs); color: var(--c); }